* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 12px #4b4949;
    padding: 20px 30px;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #4b4949;
}

.add-item-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

input { 
    flex: 1;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 4px;
    font-size: 12px;
}

input:focus {
    outline: none;
    border-color: rgb(3, 3, 125);
}

button[type = "submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(63, 63, 243);
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: backgroud 0.3s;
}
button[type = "button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: backgroud 0.3s;
}

button[type = "submit"]:hover {
    background: rgba(46, 46, 255, 0.863);
}

button[type = "button"]:hover {
    background: rgba(255, 39, 39, 0.863);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background-color: rgb(63, 63, 243);;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #e6f0ff;
}

input[type=":checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

.item-riscado {
    text-decoration: line-through;
}